<% provide(:title, "Top") %>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="center jumbotron">
      <h1 class="headline headline--one">勤怠システム</h1>
      <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
      <h2 class="headline headline--two">アカウント作成は<%= link_to "こちら", new_user_path %>から</h2>
    </div>
  </div>
</div>