<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="row">
      <%= link_to "勤怠システム", root_path, class:"logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "トップへ", root_path %></li>
          <% if logged_in? %>
            <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>